# Python
__pycache__/
*.py[cod]

venv/

.env

*.pem

# MacOS
.DS_Store

# Django
staticfiles/
*.log

# Editors
.vscode/
.idea/

#virtual env vars
bin/
lib/
pyvenv.cfg
*.pyc
__pycache__/
db.sqlite3

node_modules/
package-lock.json




